<div class="error-main">
  <div class="padd"></div>
  <div class="error">
    <div class="padd"></div>
    <h1>ERROR 404</h1>
    <h2>You Can Try These Things:</h2>
  </div>
  <div class="index-main-cards error-color">
    <div class="index-items">
      <div class="index-item">
        <a class="black" href="/profile"><i class="fas fa-user"></i></a>
        <h4><a href="/profile">Check Your Score</a></h4>
      </div>
      <div class="index-item">
        <a class="black" href="/compare"><i class="fab fa-github"></i></a>
        <h4><a href="/compare">Compete with Others</a></h4>
      </div>
      <div class="index-item">
        <a class="black" href="/top"><i class="fas fa-meteor"></i></a>
        <h4><a href="/top">View Trending Git Repos</a></h4>
      </div>
    </div>
    <div class="padd"></div>
  </div>
</div>
