<div class="index-main">
  <div class="padd-mob"></div>
  <div class="index">
    <div class="padd"></div>
    <h1>Welcome to GITWAR</h1>
    <h2>You Can Try These Things:</h2>
  </div>
  <div class="index-main-cards">
    <div class="index-items">
      <div class="index-item">
        <a class="black" href="/profile"
          ><i class="fas fa-user"></i>
          <h4>Check Your Score</h4>
        </a>
      </div>
      <div class="index-item">
        <a class="black" href="/compare"
          ><i class="fab fa-github"></i>
          <h4>Compete with Others</h4></a
        >
      </div>
      <!-- href="/top" -->
      <div class="index-item blur">
        <a class="black" href="/top"
          ><i class="fas fa-meteor"></i>
          <h4 class="">Github Trending Repos</h4></a
        >
      </div>
    </div>
    <div class="padd"></div>
  </div>
</div>
